*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #F7F8FA;
    width: 100vw;
}

.c-box{
    position: absolute;
    height:50%;
    width:50%;
    margin:10% 20%;
    background-color: #fff;
    border-radius: 2%;
    align-items: center;
    padding: 5% 10%;
    z-index: -1;
  }
  .c-box i{
    align-items: center;
    font-size: large;
    color: #eee;
  }
  .c-box p{
    color: #eee;
  }
  
  .c-box-show{
    position: absolute;
    height:50%;
    width:50%;
    margin:10% 20%;
    background-color: #fff;
    border-radius: 2%;
    padding: 5% 10%;
    z-index: 1;
  }
  
  
.req-box{
    position: absolute;
    height:50%;
    width:50%;
    margin:10% 20%;
    background-color: #fff;
    border-radius: 2%;
    padding: 5% 10%;
    z-index: -1;
  }
  
  .req-box-show{
    position: absolute;
    height:50%;
    width:50%;
    margin:10% 20%;
    background-color: #fff;
    border-radius: 2%;
    padding: 5% 10%;
    z-index: 1;
  }
  
  .button-group{
    margin: 10% 20%;
    padding: 0 5%;
    text-align: center;
  }
  
  .empty{
    margin-left: 5%;
    display: inline-block;
  }
  

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem;
    margin-left: -10%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.p-4 {
    padding: 1.5rem !important
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pp-4 {
    padding: 0 1.5rem 1.5rem 1.5rem !important
}

.text-center {
    text-align: center;
}

@media (min-width:576px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container {
        max-width: 1025px
    }
}

@media (min-width:1200px) {

    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {

    .container {
        max-width: 1320px
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5)
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.row-cols-auto>* {
    flex: 0 0 auto;
    width: auto
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%
}

.row-cols-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
}

.row-cols-4>* {
    flex: 0 0 auto;
    width: 25%
}

.row-cols-5>* {
    flex: 0 0 auto;
    width: 20%
}

.row-cols-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
}

@media (min-width:576px) {
    .col-sm {
        flex: 1 0 0%
    }

    .row-cols-sm-auto>* {
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-sm-1>* {
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-sm-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .row-cols-sm-4>* {
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-sm-5>* {
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-sm-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media (min-width:768px) {
    .col-md {
        flex: 1 0 0%
    }

    .row-cols-md-auto>* {
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-md-1>* {
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-md-2>* {
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-md-5>* {
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-md-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media (min-width:992px) {
    .col-lg {
        flex: 1 0 0%
    }

    .row-cols-lg-auto>* {
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-lg-1>* {
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-lg-2>* {
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-lg-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-lg-5>* {
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-lg-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media (min-width:1200px) {
    .col-xl {
        flex: 1 0 0%
    }

    .row-cols-xl-auto>* {
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-xl-1>* {
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-xl-2>* {
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-xl-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .row-cols-xl-4>* {
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-xl-5>* {
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-xl-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media (min-width:1400px) {
    .col-xxl {
        flex: 1 0 0%
    }

    .row-cols-xxl-auto>* {
        flex: 0 0 auto;
        width: auto
    }

    .row-cols-xxl-1>* {
        flex: 0 0 auto;
        width: 100%
    }

    .row-cols-xxl-2>* {
        flex: 0 0 auto;
        width: 50%
    }

    .row-cols-xxl-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%
    }

    .row-cols-xxl-4>* {
        flex: 0 0 auto;
        width: 25%
    }

    .row-cols-xxl-5>* {
        flex: 0 0 auto;
        width: 20%
    }

    .row-cols-xxl-6>* {
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width:576px) {
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:768px) {
    .col-md-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:992px) {
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:1200px) {
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:1400px) {
    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

/* Nav Bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1AC073;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a:hover {
    color: black;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover {
    transform: rotate(360deg);
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media(max-width:768px) {
    header .logo {
        font-size: 3rem;
    }

    header .navbar a {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media(max-width:991px) {
    html {
        font-size: 50%;
    }
}

/* Hero Section */

.hero {
    background: #1AC073;
    color: #fff;
}

.hero .row {
    height: 100vh;
    align-items: center;
}

.hero .h1 {
    width: 534px;
    height:147px;
    margin-bottom: 1rem;
    margin-top: 150px ;
    margin-left:52px ;
    margin-right:774px ;
}
.hero h1{
    font-size: 70px;
    font-weight: 400;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.btn-search {
    background: #F3BA00;
    border-radius: 0 8px 8px 0;
    color: #fff;
    border: 1px solid #F3BA00;
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
}

.hero input {
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 15px;
}

.hero input:focus {
    outline: none;
}

/* Kitchen */

.kitchen {
    padding-top: 80px;
}

.kitchen h1 {
    font-weight: 600;
}

.card {
    background: #fff;
    box-shadow: 0px 0px 1px rgba(187, 187, 187, 0.25);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

/* feature */
.feature {
    padding-top: 80px;
    background: #FAFAFA;
}
.feature h1 {
    font-weight: 700;
    font-size: 30px;
}

.feature>.container>.row>p {
    margin-bottom: 40px;
}

@media (min-width:1200px) {
    .feature>.container>.row {
        padding: 0 20rem;
    }
}

@media (min-width:1400px) {
    .feature>.container>.row {
        padding: 0 20rem;
    }
}




.items{
    background-color: #eee;
    
    
}
.items .heading{
    font-size: 40px;
    text-align: center;
}


.items .container .item .food-item span {
    display: inline-block;
}
.items .container{
    text-align: center;
}
.items .container .item{
    width: 20.5%;
    height:320px;
    display: inline-block;
    border-radius: 2rem; 
    margin: 2%;
    margin-top: 50px;
    background-color: #fff;
    
   }

.items .container .item img{
   height:250px;
   width: 277px;
   background-size: cover;
}

.items .container .item .food-item .star,.time{
    background-color: #eee;
    margin-top: 10px;
    height:2rem;
    align-items: center;
    padding-top: .5rem;
}
.items .container .item .food-item .add{
    background-color: #f3BA00;
    float:right;
    width:2rem;
    height:2rem;
    border-radius: .5rem;
    margin-right:3rem;
    display: flex;
     text-align: center;
     justify-content: center;
     padding-top: .2rem;
     color:#fff;
     font-size: medium;
     font-weight:1000;
}

.items .pop-btn button{
   width:210px;
   height:58px;
    align-items: center;
    border: 10px solid #1AC073;
    border-radius: 10px;
    background-color: #1AC073;
    color: #fff;
    margin-left: 50%;
}

.contact{
    position: relative;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-top: 5rem;
    background-color: #eee;
}
.contact:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-size: cover;
}
.contact-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.left{
    padding:25px 40px;
    float: left;
}
.right{
    height:100%;
    float: right;
}
.contact .contact-box .left{
    display: inline;
    text-transform: none;
}
.contact .contact-box .left h2{
   font-size:24px;
   font-weight: 400;
   float: left;
    
}
.contact .contact-box .left h6{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    float: left;
}

.contact .contact-box .left .top .field{
    width:290px;
    height:58px;
    border-color:#eee ;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
}
.contact .contact-box .left .field{
    width: 605px;
height: 164px;
margin-top: 25px;
left: -0.5px;
background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding-top: 20px;
padding-left: 20px;
}
.contact .contact-box .left .btn{
    background: #1AC073;
    border-radius: 10px;
    border:10px solid #1AC073;
    margin-bottom: 25px;
     gap: 10px;
    width: 210px;
    height: 58px;
    color: #FFFFFF;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
    letter-spacing: -0.012em;
     margin-top: 2rem;
    margin-left: -60%;
}


footer{
width: 100vw;
height: 136px;
background: #1AC073;
padding:1rem 7%;
display: flex;
align-items: center;
justify-content: space-between;

}
footer .logo{
    color:#fff;
    font-size: 2.5rem;
    font-weight: bolder;
}
footer .social-items a{
    font-size: 18px;
    font-weight: 400;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;

}
.social-links{
    float: right;
}
.social-links i{
    background: #fff;
    color:#929292;
    width: 25px;
   height: 25px;
   font-size: medium;
   border-radius: .5rem;
   text-align: center;
   padding-top: 10%;
}
